## Car yard Analysis

In [2]:
import pandas as pd

car = pd.read_excel("Car Dealer.xlsx")
car.head()

     Make   Model   Color  Mileage  Price  Cost
0   Honda  Accord     Red    63512   4000  3000
1   Honda  Accord    Blue    95135   2500  2000
2   Honda  Accord  Silver   101354   2000  1500
3  Toyota   Camry   Black    75006   2198  1900
4  Nissan  Altima   Green    69847   3826  3000

## How to dispaly specific columns

In [16]:
car = pd.read_excel("Car Dealer.xlsx", usecols='A, B, C')
car.head()

     Make   Model   Color
0   Honda  Accord     Red
1   Honda  Accord    Blue
2   Honda  Accord  Silver
3  Toyota   Camry   Black
4  Nissan  Altima   Green

## Count the number of cars

In [18]:
total_cars=car.shape[0]
print(total_cars)

24

## Summary of car colors

In [24]:
colors = car.pivot_table(index=[], columns=['Color'], aggfunc='count')
print(colors)

Color  Black  Blue  Green  Red  Silver  White
Make       6     3      3    3       6      3
Model      6     3      3    3       6      3

## Adding discount column

In [31]:
car["Discount"] =car["Price"]-car["Cost"]

KeyError: 'Price'